/* Goal: less than 150 lines of well-formatted css */
action,a{
    transition:all 0.3s;
}

.graph-ui-container {
    font-family:'Open Sans',sans-serif,Arial;
}

.graph-ui-container h1,
.graph-ui-container h2,
.graph-ui-container h3,
.graph-ui-container h4{
    font-weight:300;
}

.graph-ui-container h1{
    z-index:-1;
    text-align:center;
    text-transform:uppercase;
    color:#fff;
    font-size:15px;
    letter-spacing:9px;
    margin:30px 0;
    transform:scaleY(2);
    font-weight:300;
    text-shadow:
    1px 0 0 #333,
    2px 0 0 #333;
}

.graph-ui-container h3,
.graph-ui-container h4{
    margin: 5px 0;
}

.graph-ui-container .actions{
    background:#fff;
    width:480px;
    margin:auto;
    padding:10px;
}
.graph-ui-container .clear{
    clear:both;
}
.graph-ui-container .inline-block{
    display:inline-block;
    vertical-align:top;
}
.graph-ui-container .side-panel.left{
    left:0;
}
.graph-ui-container .side-panel.right{
    right:0;
}
.graph-ui-container tabtitle{
    background:#bbb;
    line-height:50px;
    height:50px;
    display:inline-block;
    font-size:10px;
    padding:0 8px;
    opacity:0.8;
}
.graph-ui-container tab{
    padding:15px;
    text-align:left;
}
.graph-ui-container tabtitle.active{
    background:#fff;
    color:#000;
    opacity:1;
}
.graph-ui-container .btn:hover,
.graph-ui-container .btn:active,
.graph-ui-container action:active,
.graph-ui-container action:hover{
    background:#18d;
}

.graph-ui-container tabtitles{
    background:#eee;
    display:block;
}

.graph-ui-container text-left,
.graph-ui-container text-center,
.graph-ui-container text-right{
    display:block;
}

.graph-ui-container text-left,
.graph-ui-container .text-left{
    text-align: left;
}
.graph-ui-container text-center,
.graph-ui-container .text-center{
    text-align: center;
}

.graph-ui-container text-right,
.graph-ui-container .text-right{
    text-align: right;
}
.graph-ui-container .actions action{
    margin:0;
}
.graph-ui-container .btn,
.graph-ui-container switchoption,
.graph-ui-container action{
    cursor:pointer;
    color:#fff;
    background:#3af;
    padding:5px;
    margin:5px 0;
    display:inline-block;
    line-height: 21px;
    font-size: 14px;
}
.graph-ui-container action,
.graph-ui-container tabtitles,
.graph-ui-container switch
    {
        user-select:none;
        -moz-user-select:none;
    }
.graph-ui-container switch{
    display:block;
    margin:0 10px 0 0;
}
.graph-ui-container switchoption{
    margin:5px 0;
}
.graph-ui-container switchoption:not(.active){
    color:#666;
    background:#eee;
}
.graph-ui-container input{
    border-radius:0;
    background:#ddd;
    border:none;
    font-size: 14px;
    padding: 4px;
    color: #555;
    margin: 3px 10px 0 0;
    max-width:90%;
}
.graph-ui-container half-width{
    display:inline-block;
    width:49%;
}
.graph-ui-container label{
    font-size:13px;
}

.graph-ui-container tab{
    display:none;
}

.graph-ui-container tab.active{
    display:block;
}

.graph-ui-container .hide{
    position:absolute;
    left:-3700px;
}
.graph-ui-container label{
    display:block;
}
.graph-ui-container select{
    margin-left:10px;
    margin-right:10px;
    width:100%; /* remove this when calc is a standard */
    width:calc(100% - 20px);
    border:none;
    background:#ddd;
}
.graph-ui-container textarea{
    border:0;
    background:#ddd;
    max-width:100%;
    resize:resize-y;
}