/* Goal: less than 150 lines of well-formatted css */
action,a{
    transition:all 0.3s;
}
html{
    height:100%;
}
body{
    height:100%;
    margin:0;
    background:#bbb;
    font-family:'Open Sans',sans-serif,Arial;
}

h1,h2,h3,h4{
    font-weight:300;
}

h1{
    z-index:-1;
    text-align:center;
    text-transform:uppercase;
    color:#fff;
    font-size:15px;
    letter-spacing:9px;
    margin:30px 0;
    transform:scaleY(2);
    font-weight:300;
    text-shadow:
    1px 0 0 #333,
    2px 0 0 #333;
}
h3,h4{
    margin: 5px 0;
}

.actions{
    background:#fff;
    width:480px;
    margin:auto;
    padding:10px;
}
.clear{
    clear:both;
}
.inline-block{
    display:inline-block;
    vertical-align:top;
}
.side-panel.left{
    left:0;
}
.side-panel.right{
    right:0;
}
tabtitle{
    background:#bbb;
    line-height:50px;
    height:50px;
    display:inline-block;
    font-size:10px;
    padding:0 8px;
    opacity:0.8;
}
tab{
    padding:15px;
    text-align:left;
}
tabtitle.active{
    background:#fff;
    color:#000;
    opacity:1;
}
.btn:hover,
.btn:active,
action:active,
action:hover{
    background:#18d;
}
tabtitles{
    background:#eee;
    display:block;
}

text-left,text-center,text-right{
    display:block;
}

text-left, .text-left{
    text-align: left;
}
text-center, .text-center{
    text-align: center;
}
text-right, .text-right{
    text-align: right;
}
.actions action{
    margin:0;
}
.btn,switchoption,action{
    cursor:pointer;
    color:#fff;
    background:#3af;
    padding:5px;
    margin:5px 0;
    display:inline-block;
    line-height: 21px;
    font-size: 14px;
}
action,
tabtitles,
switch
    {
        user-select:none;
        -moz-user-select:none;
    }
switch{
    display:block;
    margin:0 10px 0 0;
}
switchoption{
    margin:5px 0;
}
switchoption:not(.active){
    color:#666;
    background:#eee;
}
input{
    border-radius:0;
    background:#ddd;
    border:none;
    font-size: 14px;
    padding: 4px;
    color: #555;
    margin: 3px 10px 0 0;
    max-width:90%;
}
half-width{
    display:inline-block;
    width:49%;
}
label{
    font-size:13px;
}

tab{
    display:none;
}

tab.active{
    display:block;
}

.hide{
    position:absolute;
    left:-3700px;
}
label{
    display:block;
}
select{
    margin-left:10px;
    margin-right:10px;
    width:100%; /* remove this when calc is a standard */
    width:calc(100% - 20px);
    border:none;
    background:#ddd;
}
textarea{
    border:0;
    background:#ddd;
    max-width:100%;
    resize:resize-y;
}