p.value-display{
    margin: 14px 7px 0px;
    margin:0 7px;
    margin-bottom:0;
    margin-top:10px;
    background:#ddd;
    padding:10px;
    overflow:hidden;
    word-wrap:break-word;
}

.value-display table{
    width:100%;
}

table td{
    background:#fff;
    padding:4px;
}

table tr:nth-child(2n+1){
    background:#ddd;
}

table tr:nth-child(2n+1) td:nth-child(2n){
    background:#eee;
}

table{
    border-collapse:collapse;
}

.note-node{
    width:400px;
}
.note-node label{
    display:none;
}
.note-node textarea{
    background: #ee9;
    width:95%;
    min-height:120px;
    padding: 10px;
    color: #555;
    font-size: 16px;
    resize:resize-y;
}