p.value-display{
    margin: 14px 7px 0px;
    margin:0 7px;
    margin-bottom:0;
    margin-top:10px;
    background:#ddd;
    padding:10px;
    overflow:hidden;
    word-wrap:break-word;
}

table td{
    background:#fff;
    padding:4px;
}

table tr:nth-child(2n+1){
    background:#ddd;
}

table tr:nth-child(2n+1) td:nth-child(2n){
    background:#eee;
}

table{
    border-collapse:collapse;
}
